.button {
  text-align: center;
  padding: 20px;
  justify-content: center;
  width: 50%;
  align-self: center;
  margin: 0;
  margin-top: 20px;
  border: none;
  border-radius: 50px;
  font-size: larger;
  font-weight: bold;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.2);
  background-color: wheat;
  color: rgb(49, 61, 95);
  cursor: pointer;
}
.displayButtonContainer {
  text-align: center;
}
